<aside id="leftsidebar" class="sidebar">
    
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
        <ul class="list">



            <li>
                <a href="#" class="active">
                    <i class="material-icons">dashboard</i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">assignment</i>
                    <span>Clearance and NOCs</span>
                </a>

                <ul class="ml-menu">
                    <li>
                        <a href="../../pages/widgets/cards/basic.html">Wildlife Clearance</a>
                    </li>
                    <li>
                        <a href="../../pages/widgets/cards/colored.html">Forest Clearance</a>
                    </li>
                    <li>
                        <a href="../../pages/widgets/cards/no-header.html">Non-forest Land Outside PAs</a>
                    </li>
                </ul>

            </li>   

            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">library_books</i>
                    <span>Education/Research Permits</span>
                </a>
                <ul class="ml-menu">                  
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <span>Research Study Permission</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="javascript:void(0);">
                                    <span>Research in Wildlife</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <span>Research in Forest</span>
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <span>Education Visit Services</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="javascript:void(0);">
                                    <span>Visit Services in Wildlife</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <span>Visit Services in Forest</span>
                                </a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </li>

            <li class ="active">
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">pets</i>
                    <span>Rajasthan Wildlife</span>
                </a>

                <ul class="ml-menu">
                    <li class="active">
                        <a href="../../pages/widgets/cards/basic.html">Wildlife Ticket Booking</a>
                    </li>
                    <li>
                        <a href="../../pages/widgets/cards/colored.html">Zoo Ticket Booking</a>
                    </li>
                    <li>
                        <a href="../../pages/widgets/cards/no-header.html">Organizing Camps Permission</a>
                    </li>
                    <li>
                        <a href="../../pages/widgets/cards/no-header.html">Film Shooting Permission</a>
                    </li>
                </ul>

                </li>

                <li>
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="material-icons">security</i>
                        <span>Protection Services</span>
                    </a>

                    <ul class="ml-menu">
                        <li>
                            <a href="../../pages/widgets/cards/basic.html">Register Parivad</a>
                        </li>

                    </ul>

                </li>

                <li>
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="material-icons">beach_access</i>
                        <span>Grievances Service</span>
                    </a>

                    <ul class="ml-menu">
                        <li>
                            <a href="../../pages/widgets/cards/basic.html">Apply Grievances</a>
                        </li>
                        <li>
                            <a href="../../pages/widgets/cards/colored.html">File RTI</a>
                        </li>
                        <li>
                            <a href="../../pages/widgets/cards/no-header.html">My RTI</a>
                        </li>

                    </ul>

                </li>

                <li>
                    <a href="#">
                        <i class="material-icons">help</i>
                        <span>Help, Facilitation & Guidance </span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="material-icons">explore</i>
                        <span>Forest Development</span>
                    </a>

                    <ul class="ml-menu">
                        <li>
                            <a href="../../pages/widgets/cards/basic.html">Purchase Produce</a>
                        </li>

                    </ul>

                </li>
                <li>
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="material-icons">card_giftcard</i>
                        <span>Amrita Devi Award</span>
                    </a>

                    <ul class="ml-menu">
                        <li>
                            <a href="../../pages/widgets/cards/basic.html">Apply for Amrita Devi Award</a>
                        </li>

                    </ul>

                </li>

 
</ul>
    </div>
    <!-- #Menu -->
    <!-- Footer -->
    <div class="legal">
        <div class="copyright">
            &copy; 2017 <a href="javascript:void(0);">FMDSS</a>.
        </div>
        <div class="version">
            <b>Version: </b> 1.0.4 <br />
            <b>Version Updated on: </b> 21/06/2017
</div>
    </div>
    <!-- #Footer -->
</aside>